
nav{
     top: 0;
     margin-left: 0;
     position: fixed;
    background-color: orangered;
    height: 50px;
    width: 100%;
}
nav img{
    height: 20px;
}
nav a{
    font-size: small;
    text-decoration: none;
    color: black;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
nav a:hover{
color: white;
}
nav img{
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}
nav img:hover{
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}
nav a img{
    margin-top: -5px;
}
nav h1{
margin-left: 50px;
margin-top: 12px;
}
h2{
    color: white;
    font-size: 5em;
    font-family: 'Love Ya Like A Sister', cursive;
}
.rest p{
    background-color:  red;
    width: 150px;
    padding: 10px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.rest a{
    text-decoration: none;
    color: white;
}
.rest p:hover{
    background-color:  orangered;
}
.conta p{
    background-color:  gray;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.conta a{
    text-decoration: none;
    color: white;
}
.conta p:hover{
    background-color:  black;
}
.about{
    background-color: darkgrey;
}
.about h3{
font-size: 2.5em;
color: white;
font-family: 'Shadows Into Light', cursive;
}
.about p{
     color: rgb(12, 12, 11);
    font-size: x-large;
    font-family: cursive;
}
.who{
    display: inline-block;
    width: 30%;
    height: 300px;
    padding: 30px 0px;
    margin: 1%;
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.chefs{
    background-color: white;
}
.chefs > div{
    display: flex;
}

.chefs h3{
font-size: 2.5em;
color: black;
font-family: 'Shadows Into Light', cursive;
}
h4{
    color: orangered;
    font-size: x-large;
    font-family: cursive;
}
.dim1{
    display: inline-block;
    width: 55%;
    height: 450px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim2{
    display: inline-block;
    width: 45%;
    height: 450px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim1 img{
    height: 600px;
    margin-left: 150px;
    margin-top: -50px;
}
.dim2 p{
    padding: 10px;
    text-align: justify;
}
.dish{
    background-color: rgb(187, 245, 94);
}
.dish h3{
font-size: 2.5em;
color: crimson;
font-family: 'Shadows Into Light', cursive;
}
.book{
    background-color: transparent;
}
.book h3{
    color: white;
    font-size: 2em;
font-family: 'Shadows Into Light', cursive;
}
.test{
    background-color: white;
}
.test h3{
   font-size: 2.5em;
color: black;
font-family: 'Shadows Into Light', cursive; 
}
.tes{
    display: inline-block;
    width: 15%;
    height: 300px;
    padding: 30px 0px;
    margin: 1%;
    text-align: center;
    box-shadow: 0 0 5px transparent;
    border-radius: 5px;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -moz-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -ms-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -o-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
}
.tes:hover{
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -moz-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -ms-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    -o-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.5s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.tes p{
    text-align: center;
    color: black;
}
.test img{
    height: 150px;
}
.test p{
    font-size: 1em;
    font-weight: bold;
}

/*RESERVATION*/
.input-group input {
   width: 20%;
   border: 0;
   outline: none !important;
   padding: 10px;
   margin: 1%;
   display: inline-block;
   background-color: orangered;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.text-area textarea {
    width: 44%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 1%;
    background-color: orangered;
    border-radius: 5px;
   
}

#bn {
    border: 0;
    color: black;
    text-decoration: none;
    padding: 8px;
    margin: 1%;
    background-color: gray;
    cursor: pointer;
    border-radius: 5px;
}

#bn:hover {
    background-color: orangered;
}
.contacts{
    width: 100%;
    background-color: black;
    opacity: 0.7;
}
.contact h3,p{
    color: white;
}
.loc a{
text-decoration: none;
font-weight: bold;
color: white;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: inline-block;
}
.footer p{
    color: white;
    text-align: right;
    margin: 1%;
    padding: 18px;
}
.footer img{
    margin: 2%;
    float: left;
}
@media screen and (max-width: 500px) {
   
nav{
     top: 0;
     margin-left: 0;
     position: fixed;
    background-color: orangered;
    height: 50px;
    width: 100%;
} 
nav img{
    height: 15px;
}
nav a img{
    margin-top: 0px;
}
nav a{
    font-size: x-small;
    text-decoration: none;
    color: black;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}
nav h1{
    font-size: small;
margin-left: 3px;
margin-top: 12px;
}
h2{
    font-size: 2em;
    margin-top: 50px;
}
.about h3{
    font-size: 1em;
}
.about p{
    font-size: small;
}
.chefs h3{
    font-size: 1em;
}
.dish h3{
    font-size: 1em;
}
.who{
    height: 150px;
}
.dim1{
    display: inline-block;
    width: 52%;
    height: 250px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim2{
    display: inline-block;
    width: 43%;
    height: 250px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim2 p{
    color: black;
    font-size: small;
}
.dim1 img{
    height: 300px;
    margin-left: 0px;
    margin-top: -5px;
}
.test h3{
   font-size: 1em;
}
.tes{
    display: inline-block;
    width: 50%;
    height: 300px;
    padding: 30px 0px;
    margin: 1%;
    text-align: center;
    box-shadow: 0 0 5px transparent;
    border-radius: 5px;
}
	
.input-group input {
   width: 40%;
   border: 0;
   outline: none !important;
   padding: 5px;
   margin: 1.5%;
   display: inline-block;
   background-color: orangered;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.text-area textarea {
    width: 84%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 1%;
    background-color: orangered;
    border-radius: 5px;
}
.footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    display: inline-block;
}
}
@media screen and (max-width: 320px) {
   body,
   html{
       margin: 0;
   }
    nav a{
    font-size: x-small;
    text-decoration: none;
    color: black;
    float: right;
    margin-top: 15px;
    /* margin-right: 5px; */
}
nav h1{
    font-size: small;
/* margin-left: 5px; */
margin-top: 12px;
}
nav img{
    display: none;
    height: 10px;
}
    .who{
    display: inline-block;
    width: 98%;
    height: 100px;
    padding: 30px 0px;
    margin: 1%;
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

    .dim1{
    display: inline-block;
    width: 50%;
    height: 150px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim2{
    display: inline-block;
    width: 46%;
    height: 150px;
    margin: 1%;
    padding: 0px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
} 
.dim2 p{
    color: black;
    font-size: smaller;
    text-align: justify;
}
.dim1 img{
    height: 200px;
    margin-left: -10px;
    margin-top: -8px;
}
div.img {
    width: 40%;
}

.input-group input {
   width: 90%;
   border: 0;
   outline: none !important;
   padding: 5px;
   margin: 1.5%;
   display: inline-block;
   background-color: orangered;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.text-area textarea {
    width: 88%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 1%;
    background-color: orangered;
    border-radius: 5px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    /* display: inline-block; */
}
.footer p{
    font-size: x-small;
    color: white;
    text-align: right;
    margin: 1%;
    padding: 18px;
}
.footer img{
    height: 15px;
    margin: 2%;
    float: left;
}
}